<div id="page_wrapper">
	<div id="profile_image" class="div_image">
		<%= image_tag "profile.jpg" %>
	</div>

	<div id="content" class="div_des">
		<h1>Hi, I'm Asep Darmawan</h1>
		<p>I'm newbie in Rails, but i tried my best</p>
		<p>This week i built a blog in Rails 4, i'm actually on the demo application right now. Cool stuff, right!!!</p>
		<p>Find me on twitter <a href="http://twitter.com/A_darmawann">@a_darmawann</a> or on facebook <a href="https://www.facebook.com/asep.darmawan.391">Asep Darmawann</a></p>
		<p>I'm Junior Web Developer from 41studio</p>
	</div>
</div>